name: Scrape & Update Bills / BillEvents

on:
  workflow_dispatch:
    inputs:
      parliament_period:
        description: 'Selecting the period of the parliament, either LATEST for the latest term or PREVIOUS for previous term of parliament'
        required: true
        default: 'LATEST'
        type: choice
        options:
          - LATEST
          - PREVIOUS
      scrape_mode:
        description: 'Selecting scrape mode, `ALL` to scrape and update all bills'
        required: true
        default: 'none'
        type: choice
        options:
          - ALL
          - none

  schedule:
    - cron: '0 20 * * SUN'  # Every Sunday at 20:00 UTC(4:00 AM GMT+7)

permissions:
  contents: 'read'
    
jobs:
  run_python_script:
    runs-on: ubuntu-latest

    env:
      MODE: "dev"
      ACTIONS_RUNNER_DEBUG: true

    steps:
      - uses: actions/checkout@v3  # Setup

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.11'

      - name: Install dependencies
        run: |
            sudo apt-get update
            curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Scrap & Update Bills
        run: uv run scripts/scrape_bills.py
        env:
          POLITIGRAPH_SUBSCRIBTION_ENDPOINT: "${{ secrets.POLITIGRAPH_SUBSCRIBTION_ENDPOINT }}"
          POLITIGRAPH_TOKEN: "${{ secrets.POLITIGRAPH_TOKEN }}"
          SCRAPE_MODE: ${{ github.event_name == 'schedule' && '' || inputs.scrape_mode == 'none' && '' || inputs.scrape_mode }}
          PARLIAMENT_PERIOD: ${{ github.event_name == 'schedule' && 'LATEST' || inputs.parliament_period }}

      - name: Check & Update BillMergeEvents
        run: uv run scripts/update_merge_events.py
        env:
          POLITIGRAPH_SUBSCRIBTION_ENDPOINT: "${{ secrets.POLITIGRAPH_SUBSCRIBTION_ENDPOINT }}"
          POLITIGRAPH_TOKEN: "${{ secrets.POLITIGRAPH_TOKEN }}"